* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #288d5e;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMTIwIiBoZWlnaHQ9IjEyMCI+PGRlZnM+PGZpbHRlciBpZD0iZGFya3JlYWRlci1pbWFnZS1maWx0ZXIiPjxmZUNvbG9yTWF0cml4IHR5cGU9Im1hdHJpeCIgdmFsdWVzPSItMC4wMDMgLTAuNDUzIC0wLjY4NSAwLjAwMCAxLjE0MCAtMC41ODIgMC4xNTMgLTAuNjU0IDAuMDAwIDEuMDgxIC0wLjU0MSAtMC40MzcgMC4wMDIgMC4wMDAgMC45NzUgMC4wMDAgMC4wMDAgMC4wMDAgMS4wMDAgMC4wMDAiIC8+PC9maWx0ZXI+PC9kZWZzPjxpbWFnZSB3aWR0aD0iMTIwIiBoZWlnaHQ9IjEyMCIgZmlsdGVyPSJ1cmwoI2RhcmtyZWFkZXItaW1hZ2UtZmlsdGVyKSIgeGxpbms6aHJlZj0iZGF0YTppbWFnZS9zdmcreG1sLCUzQ3N2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIGNsYXNzPSdzY2FsZScgd2lkdGg9JzEyMCcgaGVpZ2h0PScxMjAnIHZpZXdCb3g9JzAgMCAxMjAgMTIwJyUzRSUzQ3BvbHlnb24gY2xhc3M9J2NvbG9yMicgZmlsbD0nJTIzMDAwJyBmaWxsLW9wYWNpdHk9Jy4xJyBwb2ludHM9JzEyMCAwIDEyMCA2MCA5MCAzMCA2MCAwIDAgMCAwIDAgNjAgNjAgMCAxMjAgNjAgMTIwIDkwIDkwIDEyMCA2MCAxMjAgMCcvJTNFJTNDL3N2ZyUzRSIgLz48L3N2Zz4=");
  /* background by SVGBackgrounds.com */
}

.flexbox {
  display: flex;
  justify-content: space-between;

  width: 100%;
  max-width: 768px;
  height: 100vh;

  overflow: hidden;

  margin: 0 auto;
  padding: 15px;
}
.flexbox .board {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 300px;
}
